<!DOCTYPE html>
<html lang="{{site_lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>{{title}}</title>
    <link rel="icon" href="../favicon.svg">
</head>
<body>
    <header>
        <h3><a href="../">{{site_name}}</a></h3>
        <p>{{site_description}}</p>
    </header>
    <main>
        <h1 class="post-title">{{title}}</h1>
        <p class="date">{{date}}</p>
        <div>{{content}}</div>
        <div class="tags">{{tags}}</div>
    </main>
    <footer>
        <a href="../rss.xml"><img src="../rss.svg" alt="RSS feed"></a>
    </footer>
</body>
</html>
